<div class="form-section">
    <div class="container">
      <!-- Image Container -->
      <div class="image-container">
        <img src="https://firebasestorage.googleapis.com/v0/b/imageuploaddb-d99cf.appspot.com/o/business-man-with-social-media-flat-illustration-design_26486-8-removebg-preview.png?alt=media&token=a612eddb-0334-471f-a9e2-7632f37f4065" alt="Image description" />
      </div>
      
      <!-- Signup Form -->
      <div class="signup-box">
        <h2>Signup</h2>
        
        <!-- Form Fields -->
        <div class="form-fields">
          <input type="text" class="name ele" placeholder="Enter your name" required>
          <input type="text" class="username ele" placeholder="Username" required>
          <input type="email" class="email ele" placeholder="youremail@uom.lk" required>
          <input type="text" class="nic ele" placeholder="NIC" required>
          <input type="text" class="contact ele" placeholder="Contact number" required>
          <input type="text" class="address ele" placeholder="Address" required>
          <input type="text" class="city ele" placeholder="City" required>
          <input type="password" class="password ele" placeholder="Password" required>
          <input type="password" class="password ele" placeholder="Confirm password" required>
          <select class="role ele" required>
            <option value="" disabled selected>Select your role</option>
            <option value="user">User</option>
            <option value="admin">Admin</option>
            <option value="moderator">Organizer</option>
          </select>
        </div>
        
        <button class="clkbtn">Signup</button>
      </div>
    </div>
  </div>
  