
    <header>
      <div class="nav-bar">
        <div class="logo"
          ><i class="bx bxs-graduation"></i> Mora Fusion</div
        >

        <!-- Navigation links -->
        <div class="nav-content" id="nav-element">
          <a href="#home" class="home">Home</a>
          <a href="#gallery" class="gallery">Gallery</a>
          <a href="/auth/login" class="login">Login</a>
          <a href="/auth/signup" class="signup">Sign Up</a>
        </div>

        <div class="icons">
          <div class="menu-icon" id="menu-btn"><i class="bx bx-menu"></i></div>
        </div>

      
      </div>
    </header>

    <section class="section home-section" id="home">
      <div class="home-content">
        <h1 class="organic">Mora <span>Fusion</span></h1>
        <h1><span>All</span> EVENTS ARE HERE</h1>
        <p>Events, Activities & Experience</p>
        <a href="/auth/login" class="btn" id="get-start">Get Started</a>
      </div>
    </section>

    <!-- Event Gallery Section -->
    <app-gallery></app-gallery>

    <!-- Footer Section
    <footer class="footer-section">
      <div class="container">
        <div class="footer-content">
          Brand & Description
          <div class="footer-box">
            <h3><i class="bx bxs-school"></i> UniEvent</h3>
            <p>
              "Connecting students, faculty, and alumni through exciting events
              and unforgettable experiences. Plan, participate, and celebrate
              with us!"
            </p>
          </div> 

         

          <!-- Contact Info -->
          <!-- <div class="footer-box">
            <h3>Contact Info</h3>
            <ul class="contact-info"> -->
              <!-- <li><i class="bx bx-envelope"></i> Email: sadamalioc.21&#64;uom.lk</li> -->
              <!-- <li><i class="bx bx-phone"></i> Phone: +1 123 456 7890</li>
              <li>
                <i class="bx bx-map"></i> Address: 456 University Ave, Campus
                City -->
              <!-- </li>
            </ul>
          </div> -->

      
    <!-- </footer> -->
