/* Button container styling */


.table-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* Center vertically */
  background-color: #f0f0f0;

  /* Light background color for the page */
}







/* Table styling */
.user-table {
  width: 50%;
  margin-top: 20px;
  border-collapse: collapse;
  box-shadow: 0 4px 8px rgba(82, 30, 30, 0.1); /* Add a shadow effect */
  border-radius: 8px;      /* Rounded corners */
}

/* Table header styling */
.user-table th {

  background-color: #c19e11;
  padding: 10px;
  text-align: left;
  font-size: 16px;
  color: white;
  
}

/* Table row styling */
.user-table td {
  padding: 10px;
  font-size: 14px;
}

/* Pagination styling */
mat-paginator {
  margin-top: 20px;
}

button {
  padding: 5px 10px;
  font-size: 14px;
  border-radius: 4px;
  background-color: #1d993e;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}