<div class="form-section">
  <h2>Create an Event</h2>
  
  <mat-form-field appearance="fill">
    <mat-label>Name of the Event</mat-label>
    <input matInput [(ngModel)]="eventName" required>
  </mat-form-field>
  
  <mat-form-field appearance="fill">
    <mat-label>Event Description</mat-label>
    <input matInput [(ngModel)]="eventDescription">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Event Date</mat-label>
    <input matInput [matDatepicker]="datepicker" [(ngModel)]="eventDate" required>
    <mat-datepicker #datepicker></mat-datepicker>
    <mat-datepicker-toggle [for]="datepicker" matSuffix></mat-datepicker-toggle>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Event Time</mat-label>
    <input matInput [matTimepicker]="timepicker" [(ngModel)]="eventTime" required>
    <mat-timepicker #timepicker></mat-timepicker>
    <mat-timepicker-toggle [for]="timepicker" matSuffix></mat-timepicker-toggle>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Enter your Email</mat-label>
    <input matInput placeholder="your@example.com" [(ngModel)]="eventEmail" required>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Event Category</mat-label>
    <mat-select [(ngModel)]="eventCategory" required>
      <mat-option value="conference">Conference</mat-option>
      <mat-option value="workshop">Workshop</mat-option>
      <mat-option value="webinar">Webinar</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Additional Notes</mat-label>
    <textarea matInput [(ngModel)]="eventNotes"></textarea>
  </mat-form-field>




  <div class="custom-file-upload">
    <label for="fileInput" class="upload-label">
      <i class="material-icons">cloud_upload</i> Choose File
    </label>
    <input type="file" id="fileInput" class="file-upload" onchange="console.log(event.target.files)">
    <span class="file-name">No file chosen</span>
  </div>
  


  
  <div class="form-actions">
    <button mat-raised-button color="primary" (click)="submitForm()"  class="buttonSubmit">Submit Event</button>
    <button mat-raised-button color="warn" (click)="resetForm()"  class="buttonReset">Reset</button>
  </div>



</div>
