/* organizer-dashboard.component.css */

.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}

.stats-container {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-bottom: 30px;
}

.stat-card {
  flex: 1 1 200px;
  text-align: center;
  padding: 24px;
  color: #80065f;
}

.stat-count {
  font-size: 3rem;
  font-weight: 700;
  margin-top: 8px;
}

.events-table-card {
  margin: 0 20px 30px 20px;
  padding: 10px;
}

table {
  width: 100%;
}

mat-card-actions {
  display: flex;
  justify-content: flex-end;
}
